# Tratando os dados para pegar apenas até 2022

Os dados foram coletados em 17/03/2023, assim já contém os dados do GP de 05/03/2023. Por isso, esse notebook tem como objetivo limpar os dados e garantir que contém dados até 2022 apenas.

In [1]:
import pandas as pd

## circuits.csv

In [2]:
circuits = pd.read_csv("data/circuits.csv")
circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

In [3]:
circuits.to_csv("processed_data/circuits.csv")

## races.csv

In [4]:
races = pd.read_csv("data/races.csv")
races

races_2023 = races.loc[races.year == 2023]

processed_races = races.loc[races.year != 2023]
processed_races

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,1092,2022,18,22,Japanese Grand Prix,2022-10-09,05:00:00,http://en.wikipedia.org/wiki/2022_Japanese_Gra...,2022-10-07,03:00:00,2022-10-07,06:00:00,2022-10-08,03:00:00,2022-10-08,06:00:00,\N,\N
1075,1093,2022,19,69,United States Grand Prix,2022-10-23,19:00:00,http://en.wikipedia.org/wiki/2022_United_State...,2022-10-21,19:00:00,2022-10-21,22:00:00,2022-10-22,19:00:00,2022-10-22,22:00:00,\N,\N
1076,1094,2022,20,32,Mexico City Grand Prix,2022-10-30,20:00:00,http://en.wikipedia.org/wiki/2022_Mexican_Gran...,2022-10-28,18:00:00,2022-10-28,21:00:00,2022-10-29,17:00:00,2022-10-29,20:00:00,\N,\N
1077,1095,2022,21,18,Brazilian Grand Prix,2022-11-13,18:00:00,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...,2022-11-11,15:30:00,2022-11-12,15:30:00,\N,\N,2022-11-11,19:00:00,2022-11-12,19:30:00
1078,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N

In [5]:
processed_races.to_csv("processed_data/races.csv")

## constructor_results.csv

In [6]:
constructor_results = pd.read_csv("data/constructor_results.csv")
constructor_results
processed_constructor_results = constructor_results.loc[~constructor_results.raceId.isin(races_2023.raceId.tolist())]

In [7]:
processed_constructor_results.to_csv("processed_data/constructor_results.csv")

## constructor_standings.csv

In [8]:
constructor_standings = pd.read_csv("data/constructor_standings.csv")
constructor_standings
processed_constructor_standings = constructor_standings.loc[~constructor_standings.raceId.isin(races_2023.raceId.tolist())]
processed_constructor_standings

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
12926,28398,1096,213,35.0,9,9,0
12927,28399,1096,117,55.0,7,7,0
12928,28400,1096,3,8.0,10,10,0
12929,28401,1096,1,159.0,5,5,0
12930,28402,1096,9,759.0,1,1,17

In [9]:
processed_constructor_standings.to_csv("processed_data/constructor_standings.csv")

## constructors.csv

In [10]:
constructors = pd.read_csv("data/constructors.csv")
constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [11]:
constructors.to_csv("processed_data/constructors.csv")

## driver_standings.csv

In [12]:
driver_standings = pd.read_csv("data/driver_standings.csv")
driver_standings
processed_driver_standings = driver_standings.loc[~driver_standings.raceId.isin(races_2023.raceId.tolist())]
processed_driver_standings

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
33877,71821,1096,815,305.0,3,3,2
33878,71822,1096,830,454.0,1,1,15
33879,71823,1096,842,23.0,14,14,0
33880,71824,1096,20,37.0,12,12,0
33881,71825,1096,856,2.0,21,21,0

In [13]:
processed_driver_standings.to_csv("processed_data/driver_standings.csv")

## data/drivers.csv

In [14]:
drivers = pd.read_csv("data/drivers.csv")
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
854,856,de_vries,45,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [15]:
drivers.to_csv("processed_data/drivers.csv")

## lap_times.csv

In [16]:
lap_times = pd.read_csv("data/lap_times.csv")
lap_times
processed_lap_times = lap_times.loc[~lap_times.raceId.isin(races_2023.raceId.tolist())]
processed_lap_times

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
538116    1096       822   53        16  1:32.998         92998
538117    1096       822   54        16  1:32.995         92995
538118    1096       822   55        16  1:31.236         91236
538119    1096       822   56        15  1:30.566         90566
538120    1096       822   57        15  1:30.743         90743

[538121 rows x 6 columns]

In [17]:
processed_lap_times.to_csv("processed_data/lap_times.csv")

## pit_stops.csv

In [18]:
pit_stops = pd.read_csv("data/pit_stops.csv")
pit_stops
processed_pit_stops = pit_stops.loc[~pit_stops.raceId.isin(races_2023.raceId.tolist())]
processed_pit_stops

      raceId  driverId  stop  lap      time duration  milliseconds
0        841       153     1    1  17:05:23   26.898         26898
1        841        30     1    1  17:05:52   25.021         25021
2        841        17     1   11  17:20:48   23.426         23426
3        841         4     1   12  17:22:34   23.251         23251
4        841        13     1   13  17:24:10   23.842         23842
...      ...       ...   ...  ...       ...      ...           ...
9629    1096       849     2   38  18:02:50   25.174         25174
9630    1096       840     2   40  18:04:44   21.802         21802
9631    1096       839     2   41  18:06:09   21.734         21734
9632    1096       846     2   42  18:07:36   21.559         21559
9633    1096       855     2   44  18:11:10   23.159         23159

[9634 rows x 7 columns]

In [19]:
processed_pit_stops.to_csv("processed_data/pit_stops.csv")

## qualifying.csv

In [20]:
qualifying = pd.read_csv("data/qualifying.csv")
qualifying
processed_qualifying = qualifying.loc[~qualifying.raceId.isin(races_2023.raceId.tolist())]
processed_qualifying

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
9570,9628,1096,825,210,20,16,1:25.834,\N,\N
9571,9629,1096,842,213,10,17,1:25.859,\N,\N
9572,9630,1096,822,51,77,18,1:25.892,\N,\N
9573,9631,1096,848,3,23,19,1:26.028,\N,\N
9574,9632,1096,849,3,6,20,1:26.054,\N,\N

In [21]:
processed_qualifying.to_csv("processed_data/qualifying.csv")

## results.csv

In [22]:
results = pd.read_csv("data/results.csv")
results
processed_results = results.loc[~results.raceId.isin(races_2023.raceId.tolist())]
processed_results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [23]:
processed_results.to_csv("processed_data/results.csv")

## seasons.csv

In [24]:
seasons = pd.read_csv("data/seasons.csv")
seasons
processed_seasons = seasons.loc[~seasons.year.isin([2023])]
processed_seasons

    year                                                url
0   2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1   2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2   2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3   2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4   2005  http://en.wikipedia.org/wiki/2005_Formula_One_...
..   ...                                                ...
68  2018  http://en.wikipedia.org/wiki/2018_Formula_One_...
69  2019  http://en.wikipedia.org/wiki/2019_Formula_One_...
70  2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
71  2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
72  2022  http://en.wikipedia.org/wiki/2022_Formula_One_...

[73 rows x 2 columns]

In [25]:
processed_seasons.to_csv("processed_data/seasons.csv")

## sprint_results.csv

In [26]:
sprint_results = pd.read_csv("data/sprint_results.csv")
sprint_results
processed_sprint_results = sprint_results.loc[~sprint_results.raceId.isin(races_2023.raceId.tolist())]
processed_sprint_results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31

In [27]:
processed_sprint_results.to_csv("processed_data/sprint_results.csv")

## status.csv

In [28]:
status = pd.read_csv("data/status.csv")
status

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]

In [29]:
status.to_csv("processed_data/status.csv")

# Conferindo se está tudo certo

In [30]:
import os

In [31]:
for diretorio, subpastas, arquivos in os.walk("./data"):
    data = arquivos
for diretorio, subpastas, arquivos in os.walk("./processed_data"):
    processed_data = arquivos

In [32]:
if data == processed_data:
    print("Done")
else:
    print("Something went wrong")

Done

# Conclusão

Agora com os dados devidamente limpos, sendo essa limpeza a remoção dos dados posteriores à season 2022, podemos iniciar a manipulação desses dados.